{% extends 'layout.html' %}
{% load static %}

{% block content %}

<header class="row bg-black">
    <div class="col-md-4">

        <img src="{% static 'portfolio/foto.jpeg' %}" style="max-width: 100%; max-height: 100%; object-fit: cover;" alt="">

    </div>

    <div class="col-md-8 my-auto">
        <h1><strong>Luis Rodriguez</strong></h1>
        <h5>I am a Python-Django Developer</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nisi sint similique, mollitia cum accusamus sunt omnis. Consectetur, ea modi quia, velit, molestiae doloribus vitae blanditiis repudiandae animi ratione voluptatibus!</p>
        
    </div>
</header>
<div class="row my-4 text-center">
    <h3>My Projects</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem unde placeat accusantium? Incidunt ipsam distinctio cumque tenetur nihil dicta dolorem doloribus vel deleniti, repellendus consequatur ab itaque esse nisi?</p>

    {% for project in projects %}
    <div class="col md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{project.image.url}}" class="img-fluid" class="card-img-top"> 
            <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                

                {% if project.url %}
                    <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
                
                {% endif %}
            </div>
        </div>
    </div>
    
    {% endfor %}
</div>




{% endblock %}
    


